* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  color: #f0f0f0;
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.container {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6),
    inset 0 0 15px rgba(255, 204, 112, 0.08);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 340px;
  height: 490px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.main-heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f39f04;
  letter-spacing: 1px;
  margin-bottom: 10%;
}

.dice {
  width: 130px;
  height: 130px;
  transition: transform 0.4s ease;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(255, 204, 112, 0.2);
}

.animate {
  animation: flipDice 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(135deg);
  }
  55% {
    transform: rotate(180deg);
  }
  68% {
    transform: rotate(225deg);
  }
  81% {
    transform: rotate(270deg);
  }
  90% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.dice-number {
  margin-top: 17px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #f39f04;
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.btn-roll {
  background: linear-gradient(135deg, #ffcc70, #ff9f45);
  color: #181a20;
  font-weight: bold;
  font-size: 1rem;
  padding: 14px 32px;
  border: none;
  margin-top: 8%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 18px rgba(255, 204, 112, 0.3);
}

.btn-roll:hover {
  background: linear-gradient(135deg, #ffc046, #ff7b00);
  transform: scale(1.08);
}
